.Header{
    background-color: white;
}

.Header__content-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Header__content-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header__inline
{
    display: inline-block;
}

.Header__button-width{
    width: 120px;
}